<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-sh">
                    <div class="card-header text-center fs-4">Add Category</div>
                    <div class="card-body">
                        <form action="">
                            <div class="mb-3">
                                <label for="category">Category</label>
                                <input id="category" class="form-control" type="text" placeholder="Enter Category"></input>
                            </div>

                            <div class="mb-3">
                                <label for="image">Image</label>
                                <input id="image" class="form-control" type="file" placeholder="Upload image"></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-sh">
                    <div class="card-header text-center fs-4">Category Detail</div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Sl No</th>
                                <th scope="col">Category</th>
                                <th scope="col">Image</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>